.chat-page__sidebar {
    border-right: thin solid var(--color-black-alpha10);
    width: calc(100vw / 3);
}

.chat-page__search {
    width: calc(100% - 16px);
    margin: 8px;
}

.chat-page__message-box {
    overflow: hidden;
    padding: 8px;
    border-top: thin solid var(--color-black-alpha10);
}

.chats-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-page__user {
    border-bottom: thin solid var(--color-black-alpha10);
}
