.fill-white path {
    fill: var(--color-white);
}

.fill-black path {
    fill: var(--color-black);
}

.fill-primary1 path {
    fill: var(--color-primary1);
}

.fill-primary2 path {
    fill: var(--color-primary2);
}

.fill-secondary1 path {
    fill: var(--color-secondary1);
}

.fill-secondary2 path {
    fill: var(--color-secondary2);
}
