.chat {
    max-height: 56px;
    overflow: hidden;

    &__avatar {
        min-width: 56px;
    }
    
    &__message {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    &:hover {
        background-color: var(--color-primary1-alpha10);
        cursor: pointer;
    }
}
