<div class="question-link-box">
    {{#> components/typography/typography variant="bodyL" color="secondary1" }}
        {{ question }}
    {{/components/typography/typography}}
    {{#> components/link/link variant="bodyL" color="primary1" }}
        {{> @partial-block }}
    {{/components/link/link}}
</div>
