.message-input-box {
    &__form {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        width: 100%;
        &__input {
            width: 100%;
        }
    }
}
