@import "./login-page/styles.pcss";
@import "./registration-page/styles.pcss";
@import "./chats-page/styles.pcss";
@import "./profile-page/styles.pcss";
@import "./not-found-page/styles.pcss";
@import "./server-error-page/styles.pcss";
@import "./navigation-page/styles.pcss";
