.profile-page {
    &__back-button {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &__form {
        width: 298px;
    }

    &__avatar {
        max-width: 640px;
        max-height: 480px;
    }
}
