<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/src/components/page/page.pcss">
        <title>Avocado messenger</title>
    </head>
    <body>
        <header></header>
        <main class="align-{{ align }}">
            {{> @partial-block }}
        </main>
        <footer></footer>
    </body>
</html>
