.avatar {
    border: thin solid var(--color-primary1);
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    &__overlay,
    &__actions {
        display: none;
    }
    &:hover .avatar__overlay,
    &:hover .avatar__actions {
        display: flex;
    }

    &__actions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 8001;
        gap: 20px;
    }
}
