.avatar {
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    &__image {
        object-fit: cover;
    }

    &__overlay,
    &__actions {
        display: none;
    }

    &__actions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 8001;
    }

    &:hover &__overlay,
    &:hover &__actions {
        display: flex;
    }
}
