.user-search {
    max-height: 480px;

    &__input {
        width: 100%;
        min-height: 48px;
    }

    &__select-button {
        width: 100%;
        justify-content: start !important;
    }
}
