.message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    gap: 8px;
    &_primary1 {
        border: thin solid var(--color-primary1-alpha10);
        border-radius: 8px 8px 0 8px;
        align-self: flex-end;
        margin-right: 8px;
        
    }
    &_primary2 {
        border: thin solid var(--color-primary2-alpha10);
        border-radius: 0 8px 8px 8px;
        align-self: flex-start;
        margin-left: 8px;
    }
}
